
*.ipch
.vs/BafangEmulator/v15/.suo
*.db
*.opendb
*.log
*.lastbuildstate
*.tlog
*.obj
x64/Debug/BafangEmulator.pdb
x64/Debug/BafangEmulator.ilk
x64/Debug/BafangEmulator.exe
BafangEmulator/x64/Debug/vc141.pdb
BafangEmulator/x64/Debug/vc141.idb
x64/Debug/BafangEmulator.txt
x64/Debug/general.el
x64/Debug/config.el
x64/Debug/BafangEmulator.ps1
x64/Debug/BafangEmulator.ps1
